#fodoboz {
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background: #ffffff;
    box-shadow:  -20px 20px 74px #b0b0b0,
                 20px -20px 74px #ffffff;
    padding: 5px 50px;
}

#fodoboz h2 {
    margin: 0;
    text-align: center;
}
        
.belepes-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 50%;
}

#figyelmeztetes {
    text-align: center;
    border-radius: 20px;
    border: solid 1px #FFEF85; 
    background-color: #ffd90031;
    color: #171717;
}
        
#figyelmeztetes h5 {
    color: #171717;
}

input {
    width: 100%;
    padding: 15px 32px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
}
label {
    display: block;
    margin: 20px 0 0 0;
    text-align: left;
}

.also-menu {
    text-align: left;
    margin: 5px 0 30px 0;
}

.also-menu2 {
    text-align: center;
    margin: 5px 0 30px 0;
}
        
.button {
    width: 100%;
    border: solid 1px #F0274B;
    background-color: #F0274B;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    width: 100%;
    background-color: #f0274c00;
    border: solid 1px #F0274B;
    border-radius: 10px;
    color: #F0274B;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #bd223e;
    transition:ease 0.2s;
}

.vissza {
    font-weight: 500;
    margin: 30px 0 0 0;
}
